# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.6
  - 0.7
  - 1.0
  - nightly
matrix:
  allow_failures:
    - julia: nightly
  fast_finish: true
notifications:
  email: false
codecov: true
after_success:
  - |
    julia -e '
      VERSION >= v"0.7.0-DEV.3656" && import Pkg
      Pkg.add("Documenter")
      VERSION >= v"0.7.0-DEV.5183" || cd(Pkg.dir("CloudWatchLogs"))
      include(joinpath("docs", "make.jl"))'
